<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{% if data %}
<div class="container">
    <h2>가상화폐 거래 내용</h2>
    <p>현재 진행상황</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="align-middle"></th>
                <th class="align-middle">Ticker price</th>
                <th class="align-middle">Ticker poll time(KST)</th>
                <th class="align-middle">매도요청물량<br>@가장근접매도호가</th>
                <th class="align-middle">매수요청물량<br>@가장근접매수호가</th>
            </tr>
        </thead>
        <tbody>
            {% for key, item in data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</body>
</html>